* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .wrap, section {
    height: 100%;
}

body {
    font-family: 'Italiana', serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

body p {
        font-family: 'Montserrat', sans-serif;

}

button {
    border: none;
    background-color: transparent;
}

/*NAV*/

nav {
    overflow: hidden;
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 0;
    right: -100%;
    bottom:0;
    background-color: rgba(255, 255, 255, 0.96) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right .5s ease-out;
}

nav a  {
    color: black;
    text-decoration: none;
    font-size: 5rem;
    margin-bottom: 1.5rem;
    transition: all .3s ease;
}

nav a:hover {
    color: black;
    opacity: 0.5;
}

.line::after {
    content: '';
    display: block;
    height:3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left:0;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}

.menu-toggle {
    position: fixed;
    top:30px;
    right:30px;
    z-index: 10;
    color: rgb(255, 255, 255);
    transition: color .3s ease;
    cursor: pointer;
}

.nav-open {
    right: 0;
}


/*SECTIONS WRAP*/
.wrap {
    width: 400%;
    display: flex;
    flex-wrap: nowrap;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section > *:not(.one > *) {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.bg {
    flex-direction: column;
}


/*IMAGES*/

.img-container {
    width: 600px;
    height: auto;
    position: relative;
}

.img-container img {
    width: 100%;
    height: 100%;
}

section p {
    position: absolute;
    z-index: 3;
    bottom: 15%;
}

/*INTRO & CREDITS SECTIONS*/

h1 {
    font-size: 3rem;
}

.vertical {
    height:100%;
    background-color:rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Italiana', serif;

}

.vertical h1 {
    font-size: 6rem;
}

.scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
}

.credits {
    position: relative;
    z-index: 5;
    font-family: 'Italiana', serif;

}

.credits a {
    font-size: 4rem;
    color: white;
    
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 0;
    text-underline-offset: 1rem;
    text-decoration-color: transparent;
    transition: text-decoration 1s ease-in-out;
}

.credits a:hover {
    text-decoration-color: white;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-underline-offset: 1rem;
    transition: text-decoration 1s ease-in-out;
}

.credits p {
    position: absolute;
    bottom: 5%;
}

@media (max-width: 768px) {
    .wrap {
    max-width: 100%;    
    display: flex;
    height: auto;
    flex-direction: column;
    }

    section {
        width: 100%;
        height: 100vh;
    }

    .img-container {
        width: 80%;
    }

    .intro h1,
    nav a {
        font-size: 3rem;
    }

    section p {
    position: static;
    margin-top: 1rem ;        

    }
} 

@media (prefers-reduced-motion: no-preference) {
    
    .slide .line::after {
        transform: translateX(100%);
    }

}

